<a href="{{ path('admin_app_materiaaula_nota_create', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Cargar Notas'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'Notas' }}
</a>
<a href="{{ path('admin_app_materiaaula_nota_list', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Listado de Notas'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'Listar' }}
</a>