{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% set cl = {'00' : 'success', 999 : 'primary', 3 : 'danger', 4 : 'info', 5 : 'warning', 6 : 'danger', 7 : 'success'} %}
{% block sonata_admin_content %}
{% block field%}
    {# object.venta.financiacion.cuotas #}
            <h4><strong>{{object}}</strong></h4>
            <ul class="nav nav-tabs" id="academica-table">
                {% for aulaalumno in object.aulaAlumnos %}
                        <li>
                            <a data-toggle="tab" href="#{{aulaalumno.aula.id}}">{{aulaalumno.aula.numero}}º Año [{{aulaalumno.aula.ciclolectivo.year}}]<br>{{aulaalumno.aula.anio.planestudio}}</a>
                        </li>
                {% endfor %}
            </ul>
            <div class="tab-content" >
                {% set au = 0 %}
                {% set aula = 0 %}
                {% set ma = 0 %}
                {% set mat = '' %}
                {% for ha in hacademica %}
                    {# para pestanias ocultas por aula#}
                    {% if aula != ha.idaula %}
                        {% if au == 0 %}    
                            <div class="tab-pane fade" id="{{ha.idaula}}">
                            <table  class="table" cellspacing="0" border="1">
                            <tr>
                                <td colspan="8">
                                    <h4>LIBRO <strong>{{ha.libro}}</strong> FOLIO <strong>{{ha.folio}}</strong></h4>
                                </td>
                            </tr>
                            {% set au = 1 %}
                        {% else %}
                            </table>
                            </div>
                            <div class="tab-pane fade" id="{{ha.idaula}}">
                            <table  class="table" cellspacing="0" border="1">
                            <tr>
                                <td colspan="8">
                                    <h4>LIBRO <strong>{{ha.libro}}</strong> FOLIO <strong>{{ha.folio}}</strong></h4>
                                </td>
                            </tr>
                        {% endif %}
                        {% set aula = ha.idaula %}
                    {% endif %}
                    {#fin pestanias ocultas#}
                    {#impresion de notas#}
                    {% if mat != ha.materia %}
                        {% if ma == 0 %}
                        <tr>
                            <td colspan="8" bgcolor="#adb5bd" style='text-align : left;'>
                                <h4><i>{{ ha.materia }}</i></h4>
                            </td>
                        </tr>
                        <tr>
                        {% set ma = 1 %}
                        {% else %}
                        </tr>
                        <tr>
                            <td colspan="8" bgcolor="#adb5bd" style='text-align : left;'>
                                <h4><i>{{ ha.materia }}</i></h4>
                            </td>
                        </tr>
                        <tr>
                        {% endif %}
                        {% set mat = ha.materia %}
                    {% endif %}
                    {% if (ha.nota < 6) %}
                        {% set p = 'color:#FF0000' %}
                    {% else %}
                        {% set p = 'color:#000000' %}
                    {% endif %}
                    <td width="10%">
                        <div align="center">{{ha.periodo}}<br><p style={{p}};><strong>{{ha.nota}}</strong></p></div>
                    </td>
                {% endfor %}
                </tr>
                </table>
                </div> 
            </div>
{% endblock %}           
{% endblock %}