{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %} 

{% set cl = {'00' : 'success', 999 : 'primary', 3 : 'danger', 4 : 'info', 5 : 'warning', 6 : 'danger', 7 : 'success'} %}
{% block field%}
    {# object.venta.financiacion.cuotas #}
            <ul class="nav nav-tabs" id="academica-table">
                {% for aulaalumno in object.aulaAlumnos %}
                        <li>
                            <a data-toggle="tab" href="#{{aulaalumno.aula.id}}">{{aulaalumno.aula.numero}}º Año<br>{{aulaalumno.aula.anio.planestudio}}</a>
                        </li>
                {% endfor %}
            </ul>
                <div class="tab-content" >
                    `{% for aulaalumno in object.aulaAlumnos %}
                        <div class="tab-pane fade" id="{{aulaalumno.aula.id}}">
                            <table  class="table" cellspacing="0">
                                    {% for key, materia in aulaalumno.aula.showArray %}
                                        {% set i = 0 %}
                                        {% set a = 0 %}
                                        {% set p = '' %}
                                        <thead>
                                        <tr>
                                            <th colspan="8"><h3>{{key}}</h3></th>
                                        </tr>
                                        <tr>
                                            <th bgcolor="#adb5bd">Alumno</th>
                                            {% set per = [] %}
                                            {% for key, periodo in materia %}
                                                {% for key, nota in periodo %}
                                                        {% if (key not in per) %}
                                                                <th bgcolor="#adb5bd" style='text-align : center;'>{{key}}</th>
                                                            {% set per = per|merge([key]) %}
                                                        {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, periodo in materia %}
                                                {% if (key == (object.apellido ~' '~ object.nombre)) %}
                                                <tr>
                                                    {% if i == 0 %}
                                                        <td align='center'>{{key}}</td>
                                                        {% set i = 1 %}    
                                                    {% endif %}
                                                    {% for key, nota in periodo %}
                                                        {% if (nota.numero < 6) %}
                                                            {% set p = 'color:#FF0000' %}
                                                        {% else %}
                                                            {% set p = 'color:#000000' %}
                                                        {% endif %}
                                                        <td align='center'><p style={{p}};><strong>{{nota.numero}}</strong></p>(L:{{nota.libro}})(F:{{nota.folio}})</td>
                                                    {% endfor %}
                                                </tr>
                                                {% endif %}   
                                                {% set i = 0 %}
                                            {% endfor %}
                                        </tbody>
                                            {% set a = 0 %}
                                    {% endfor %}
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}